:root {
  /* Colors */
  --color-navy-primary: #005186;
  --color-near-black: #1c1c1c;
  --color-pure-white: #ffffff;
  --color-near-white: #f5f5f5;
  --color-light-gray: #e2e2e2;
  --color-dark-gray: #454545;
  --color-syntax-purple: #6636b4;
  --color-syntax-teal: #20a5ba;
  --color-syntax-navy: #005f87;
  --color-code-surface-blue: #f1f6fb;
  --color-mid-gray: #c5c5c5;

  /* Typography */
  --font-hero-display-family: __Spline_Sans_Mono_1999fd, SFMono-Regular, Menlo, Consolas, monospace;
  --font-hero-display-size: 56px;
  --font-hero-display-weight: 500;
  --font-hero-display-line-height: 64px;
  --font-section-heading-family: __Spline_Sans_Mono_1999fd, SFMono-Regular, Menlo, Consolas, monospace;
  --font-section-heading-size: 24px;
  --font-section-heading-weight: 500;
  --font-section-heading-line-height: 32px;
  --font-ui-heading-large-family: __Inter_e798ec, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-ui-heading-large-size: 22px;
  --font-ui-heading-large-weight: 600;
  --font-ui-heading-large-line-height: 28px;
  --font-ui-heading-medium-family: __Inter_e798ec, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-ui-heading-medium-size: 20px;
  --font-ui-heading-medium-weight: 700;
  --font-ui-heading-medium-line-height: 28px;
  --font-body-regular-family: __Inter_e798ec, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-body-regular-size: 14px;
  --font-body-regular-weight: 400;
  --font-body-regular-line-height: normal;
  --font-body-semibold-family: __Inter_e798ec, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-body-semibold-size: 14px;
  --font-body-semibold-weight: 600;
  --font-body-semibold-line-height: 16.1px;
  --font-label-small-family: __Inter_e798ec, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-label-small-size: 12px;
  --font-label-small-weight: 400;
  --font-label-small-line-height: normal;
  --font-code-inline-family: __Spline_Sans_Mono_1999fd, SFMono-Regular, Menlo, Consolas, monospace;
  --font-code-inline-size: 10px;
  --font-code-inline-weight: 400;
  --font-code-inline-line-height: 13px;
  --font-overline-/-label-caps-family: __Inter_e798ec, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-overline-/-label-caps-size: 16px;
  --font-overline-/-label-caps-weight: 700;
  --font-overline-/-label-caps-line-height: 28px;
  --font-overline-/-label-caps-letter-spacing: 1.6px;

  /* Spacing */
  --spacing-spacing-extra-small: 4px;
  --spacing-spacing-small: 8px;
  --spacing-spacing-medium: 16px;
  --spacing-spacing-large: 32px;
  --spacing-spacing-extra-large: 64px;
  --spacing-spacing-extra-extra-large: 80px;
  --spacing-spacing-24: 24px;
  --spacing-spacing-48: 48px;
  --spacing-spacing-10: 10px;

  /* Border Radius */
  --radius-radius-none: 0px;
  --radius-radius-1: 2px;
  --radius-radius-2: 4px;
  --radius-radius-3: 8px;
  --radius-radius-circle: 100%;
  --radius-radius-pill: 9999px;

}